*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.container div{
    padding-top: 20px;
}

.inputs-side{
    flex: 1;
}

.inputs-side h1, h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.column-inputs{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column-inputs button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.column-inputs input[type=number] {
    width: 200px;
}

.table-side{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablearea{
    padding-top: 0px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: inherit;
    height: inherit;
}

table td{
    max-width: 40px;
    min-height: 65px;
    width: 40px;
    height: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

table td:hover{
    color: white;
    background-color: rgb(175, 175, 175);
}

.edit-cell{
    margin-bottom: 10px;
}

.side-intervalos{
    display: flex;
    flex-direction: column;
    padding-top: 0px!important;
}

.side-intervalos p {
    margin-bottom: 5px;
}

.number-inputs{
    display: flex;
    flex-direction: column;
}

#print{
    margin-bottom: 10px;
}

@media print {
    body {-webkit-print-color-adjust: exact;}
    @page { margin: 0 /* or 0, if you want */ }
    .inputs-side,.printArea{
       display: none;
    }
    header{
        display: none;
    }
    .edit-cell{
        display: none!important;
    }
 }
